<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="StudentsHelpTerminal.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <system.data>
    <DbProviderFactories>
      <remove invariant="FirebirdSql.Data.FirebirdClient" />
      <add name="FirebirdClient" description="FirebirdClient" invariant="FirebirdSql.Data.FirebirdClient" type="FirebirdSql.Data.FirebirdClient.FirebirdClientFactory, FirebirdSql.Data.FirebirdClient" />
    </DbProviderFactories>
  </system.data>
  <entityFramework>
    <defaultConnectionFactory type="EntityFramework.Firebird.FbConnectionFactory, EntityFramework.Firebird" />
    <providers>
      <provider invariantName="FirebirdSql.Data.FirebirdClient" type="EntityFramework.Firebird.FbProviderServices, EntityFramework.Firebird" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="StudentsDBContext" connectionString="metadata=res://*/Models.Database.StudentsDBModel.csdl|res://*/Models.Database.StudentsDBModel.ssdl|res://*/Models.Database.StudentsDBModel.msl;provider=FirebirdSql.Data.FirebirdClient;provider connection string=&quot;character set=UTF8;data source=localhost;user id=sysdba;password=masterkey;initial catalog=D:\vya4s\OneDrive\Documents\SCD17K.FDB&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <userSettings>
    <StudentsHelpTerminal.Properties.Settings>
      <setting name="CardReaderPortBaudRate" serializeAs="String">
        <value>9600</value>
      </setting>
      <setting name="CardReaderPortName" serializeAs="String">
        <value>COM4</value>
      </setting>
      <setting name="PathToMainFolder" serializeAs="String">
        <value>D:\Terminal data</value>
      </setting>
      <setting name="CommonDocsDirectoryName" serializeAs="String">
        <value>D:\Terminal data\Common</value>
      </setting>
      <setting name="PathToLogFile" serializeAs="String">
        <value>.\Users.log</value>
      </setting>
      <setting name="MaxLogSizeMB" serializeAs="String">
        <value>1</value>
      </setting>
    </StudentsHelpTerminal.Properties.Settings>
  </userSettings>
</configuration>